.home-bg-hero {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: auto;
  z-index: -1;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  margin-top: 15%;
}

.small-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  margin-top: 15%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px;
}

@media screen and (max-width: 960px) {
  .heading {
    font-size: 1.5rem;
    margin-top: 5%;
  }
  .button {
    margin-top: 5%;
  }
  .small-text {
    display: none;
  }
}
