.footer-container {
  background-color: rgb(29, 25, 25);
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f1f1f1;
  height: 50vh;
}

.footer-subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  padding: 24px;
  color: #f1f1f1;
}

.footer-subscription-heading {
  margin-bottom: 10px;
  font-size: 24px;
  text-shadow: 2px 2px 5px black;
}

.footer-subscription-text {
  margin-bottom: 10px;
  font-size: 20px;
  text-shadow: 2px 2px 5px black;
}

.footer-input {
  padding: 8px 24px;
  border-radius: 2px;
  margin-right: 10px;
  outline: none;
  border: none;
  font-size: 18px;
  margin-bottom: 10px;
  border: 1px solid #f1f1f1;
}

.footer-links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer-link-wrapper {
  display: flex;
}

.footer-link-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 160px;
  box-sizing: border-box;
}

.footer-link-items h2 {
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px black;
  color: #f1f1f1;
}

.footer-link-items a {
  color: #f1f1f1;
  text-decoration: none;
  margin-bottom: 0.5rem;
  text-shadow: 2px 2px 5px black;
}

.footer-link-items a:hover {
  color: #f1f1f1;
  transition: 0.3s ease-out;
}

.footer-email-form h2 {
  margin-bottom: 2rem;
}

.footer-input::placeholder {
  color: #b9b2b2;
}

/* Social Icons */
.social-icon-link {
  color: #f1f1f1;
  font-size: 24px;
}

.social-media {
  max-width: 1000px;
  width: 100%;
}

.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 20px auto 0 auto;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.website-rights {
  color: #f1f1f1;
  margin-bottom: 5px;
  text-shadow: 2px 2px 5px black;
}

@media screen and (max-width: 780px) {
  .footer-links {
    padding-top: 0rem;
    font-size: 0.7rem;
  }
  .btn {
    width: 100%;
  }
  .social-media-wrap {
    font-size: 0.7rem;
    padding: 5px;
  }
  .footer-input {
    width: 100%;
    padding: 8px 8px;
    margin-right: 10px;
    font-size: 0.9rem;
    margin-bottom: -30px;
  }
  .footer-subscription-text {
    margin-bottom: 5px;
    font-size: 0.9rem;
  }
  .footer-subscription-heading {
    margin-bottom: 5px;
    font-size: 0.9rem;
  }
  .footer-link-items {
    width: 80px;
  }
  .footer-link-items a {
    margin-bottom: 0;
  }
  .footer-link-items h2 {
    margin-bottom: 5px;
  }
}
